html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #393f69;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
